<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center;">Manejo De Finanzas</h1>
    <div class="container">
        <div class="row listaOperaciones">
            
        </div>
    </div>
    <div class="formulario col-md-9" style="display: block; margin: 20px auto; width: fit-content;">
        <select name="TipoOperacion" id="TipoOperacion">
            <option value="gasto">Gasto</option>
            <option value="ingreso">Ingreso</option>
        </select>
        <input id="Razon" type="text" placeholder="Razon"/>
        <input id="Importe" type="number" placeholder="Importe"/>
        <button id="botonSubmit" onclick="subirDatos()">Cargar Operacion</button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //const axios = require('axios');
        cargaResultados = async () => {
            // var req = new XMLHttpRequest();
            // req.open("GET", "https://603c46e8f4333a0017b6755c.mockapi.io/api/Operaciones");
            // req.send();
            let resultados;
            //resultados = await fetch("https://603c46e8f4333a0017b6755c.mockapi.io/api/Operaciones").then(response => response.json());
            resultados = await axios.get("https://603c46e8f4333a0017b6755c.mockapi.io/api/Operaciones").then((response) => {return response.data;})
            console.log(resultados);
            creaMovimientto(resultados);

        }

        creaMovimientto = (data) => {
            let lista = document.querySelector(".listaOperaciones")
            for (const res of data) {
                let TipoOperacion = (res.EsGasto ? 'Gasto' : 'Ingreso')
                lista.innerHTML += 
                `<div style="border: 1px solid; border-radius: 5%; margin: auto auto" class="col-md-9">
                    <input type="hidden" id="Id" value="${res.id}"/>
                    <h1>${TipoOperacion}</h1>
                    <p>${res.Razon}</p>
                    <p>${res.Importe}</p>
                    <p>${new Date(res.Fecha).getDay()}/${new Date(res.Fecha).getMonth() + 1}/${new Date(res.Fecha).getFullYear()}</p>
                </div>`
            }
        }

        subirDatos = () => {
            const EsGasto = (document.querySelector("#TipoOperacion").value == "gasto" ? true : false);
            const Razon = document.querySelector("#Razon").value;
            const Importe = document.querySelector("#Importe").value;
            const Fecha = new Date();

            console.log(Fecha);

            axios.post('https://603c46e8f4333a0017b6755c.mockapi.io/api/Operaciones', {
                Razon,
                Importe,
                Fecha,
                EsGasto
            })

            cargaResultados();
        }

        document.addEventListener("DOMContentLoaded", cargaResultados());
    </script>
</body>
</html>